<!--  $Id$

BODY {
  color: #000000;
  background: #ffffff;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14pt;
}

TD, TH {
  font-family: Helvetica, Lucida, Verdana, Arial; 
  font-size: 12pt;
}

P, EM, B, BLOCKQUOTE, OL LI, OL, LI, UL LI, UL, DL {
  font-family: Helvetica, Lucida, Verdana, Arial; 
  font-size: 12pt;
}

CODE, PRE, TT {
  font-family: Courier, Lucidatypewriter;
  font-size: 14pt;
}

A:link { color: #770000 }
A:visited { color: #000000 }
A:active  { color: #0000ff }

H5 {
  font-size: 14pt;
  font-family: Helvetica, Lucida, Verdana, Arial;
}

H4, I { 
  font-size: 14pt;
  font-family: Helvetica, Lucida, Verdana, Arial; 
}

H3 { 
  font-size: 14pt;
  font-family: Helvetica, Lucida, Verdana, Arial; 
}

H2 { 
  color: #770000;
  font-size: 16pt;
  font-family: Helvetica, Lucida, Verdana, Arial; 
}

H1 { 
  font-size: 18pt;
  font-family: Helvetica, Lucida, Verdana, Arial; 
}
-->
